html{
    background: #0072C6;
}

body {
    margin: 0;
    padding: 0;
    z-index: -999;
    text-align: left;
}

html, body {
    height: 100%;
}


#branding-container {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 100%;

    background: #214404;
    background-image: url('../img/login/splash.jpg');
    background-position: bottom left;
    background-size: cover;
}

.login-panel {
    background: #ffffff;
    position: fixed;
    right: 0;
    float: right;
    height: 100%;
    width: 450px;
    margin: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 14px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.login-panel p {
    padding-top: 14px;
    padding-bottom: 14px;
}

.login-panel p.login-block {
    vertical-align: middle;
    line-height: 2.5em;
}



/*****************************************************************************
 * Responsive design - breakpoint for mobile (portrait)                      *
 *****************************************************************************/
@media only screen and (max-device-width : 480px), (max-width: 450px) {
    #branding-container {
        position: relative;
        height: 50px;
        width: 100%;
        min-width: 220px;
    }

    .login-panel {
        float: none;
        height: 100%;
        width: 100%;
        min-width: 220px;
        z-index: 1;
        overflow: auto;

    }
}